<html>
<head>
<style>
    html, body, .video-js{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
</head>
<body>
  <video id="myVideo" class="video-js" controls></video>

  <!-- Load hls.min.js -->
  <script src="/assets/plugins/discourse-video.js"></script>

  <script>
    (function(){
      var playbackId = "<%= @playback_id %>";
      var url = "https://stream.mux.com/"+playbackId+".m3u8";
      var video = document.getElementById("myVideo");

      // Let native HLS support handle it if possible
      if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = url;
      } else if (Hls.isSupported()) {
        // HLS.js-specific setup code
        hls = new Hls();
        hls.loadSource(url);
        hls.attachMedia(video);
      }
    })();
  </script>

</body>
</html>
