<html>
<head>
<style>
    html, body, .video-js{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
</head>
<body>
  <video id="myVideo" class="video-js" data-playbackid="<%= @playback_id %>" controls></video>

  <script src="/plugins/discourse-video/javascripts/hls.min.js"></script>
  <script src="/plugins/discourse-video/javascripts/discourse-video-playback.js"></script>


  <!-- Use HLS.js to support the HLS format in browsers. -->
  <!-- <script src="/vendor/hls.min.js"></script>-->
  <!-- <script src="/assets/plugins/hls.min.js"></script>
  <script src="/assets/plugins/discourse-video.js" type="text/discourse-plugin" version="0.8">
  </script> -->
</body>
</html>

